@font-face {
  font-family: Inter;
  src: url('assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.nav {
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 20px 0;
}

.nav--logo {
  width: 24px;
}

.nav--title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  max-width: 550px;
  margin: auto;
}

.list {
  display: flex;
  padding: 18px 0px;
}

.list:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}

.list--about {
  padding: 12px 20px;
}

.list--image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.list--name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2b283a;
  padding-bottom: 14px;
}

.list--date {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #2b283a;
  padding-bottom: 10px;
}

.list--description {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #2b283a;
}

.list--location {
  padding-bottom: 8px;
}

.list--location--name {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2b283a;
  padding-left: 4px;
  padding-right: 12px;
}

.list--location--map {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
}

.pin {
  height: 10px;
}
